{% extends "base.html.twig" %} 
{% block sidebar %}

{% for category in categories %}
<br>

<a href="/category/{{category.id}}">{{category.name}}</a>
<br>
{% endfor%}

<div class="addmore">
<a href="/createcategory">+ Ajouter une catégorie</a>
</div>
{% endblock %}